.account-page {
    display: flex;
    justify-content: space-between;
    align-items: left;
    color: #F9F6F1;
}

.account-container {
    width: 580px;
    height: auto;
    margin: 0 auto;
    margin-right: 40px;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 8px;
    background-color: #713237;
}

.settings-container {
    width: 580px;
    height: 550px;
    margin: 0 auto;
    margin-right: 40px;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 8px;
    background-color: #713237;
}

.header1 {
    background-color: #713237;
    padding: 20px;
    text-align: left;
    /* border-bottom: 1px solid #230404; */
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 40px;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 20px;
}

h3 {
    font-size: 48px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 20px;
    margin-top: 60px;
}

#location, #produce, #extra1, #extra2, #extra3, #notifications, #language, #privacy {
    color: black;
}

.form-group {
    margin-bottom: 20px;
}

#labelName {
    color: #F9F6F1;
    text-align: left;
    /* padding-left: 1rem; */
}
  
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: black;
}

Select {
    color: black;
}

input {
    width: 560px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 0px;
    margin-top: 20px;
}

select {
    width: 578px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 0px;
}

option {
    padding: 20px;
}

#logOutButton {
    margin-top: 5rem;
    height: 3rem;
    width: 10rem;
    font-weight: bold;
    font-size: 1rem;
}